body,
html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #05070a;
}

#studio {
  width: 100vw;
  height: 100vh;
  display: block;
}

.ui {
  position: absolute;
  top: 8%;
  left: 8%;
  z-index: 10;
  color: white;
  font-family: "Poppins", sans-serif;
}

.title {
  font-size: 3rem;
  font-weight: bold;
}

.subtitle {
  font-size: 1.2rem;
  opacity: 0.7;
}

.nav {
  margin-top: 20px;
}

.nav-btn {
  margin-right: 10px;
  padding: 10px 18px;
  background: #111;
  border: 1px solid #333;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
}
.nav-btn:hover {
  background: #222;
}

.panel {
  position: absolute;
  top: 15%;
  right: 5%;
  width: 30%;
  height: 70%;
  padding: 20px;
  background: rgba(20, 20, 20, 0.85);
  backdrop-filter: blur(6px);
  color: #fff;
  border-radius: 12px;
  overflow-y: auto;
  transition: 0.4s;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}




/* TERMINAL POPUP */
.terminal {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  width: 85%;
  height: 70%;
  background: rgba(10, 10, 10, 0.95);
  border: 1px solid #222;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  overflow: visible;       /* required for image to show */
  z-index: 30;
  backdrop-filter: blur(6px);
  transition: 0.3s ease;
}

.hidden {
  opacity: 0;
  pointer-events: none;
  transform: translateX(-50%) translateY(-20px);
}

.terminal-header {
  background: #111;
  padding: 10px 14px;
  font-family: monospace;
  color: #0f0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.terminal-title {
  font-size: 14px;
}

.close-btn {
  background: #300;
  color: #fff;
  border: none;
  padding: 4px 10px;
  border-radius: 4px;
  cursor: pointer;
}

/* Profile image overlapping on top */
.terminal-profile {
  position: absolute;
  top: -55px;            /* half outside */
  left: 50%;
  transform: translateX(-50%);
  width: 110px;
  height: 110px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #05070a; 
  z-index: 40;

  /* Slight aesthetic glow */
  box-shadow: 0 0 12px rgba(0, 255, 0, 0.25);
}

/* Terminal content with space for image */
.terminal-content {
  padding: 65px 20px 20px 20px; 
  color: #0f0;
  font-family: "Courier New", monospace;
  font-size: 14px;
  overflow-y: auto;
}

.terminal-content::-webkit-scrollbar {
  width: 6px;
}

.terminal-content::-webkit-scrollbar-track {
  background: #0a0a0a;
}

.terminal-content::-webkit-scrollbar-thumb {
  background: rgb(184, 188, 184);
  border-radius: 10px;
}

.terminal-content::-webkit-scrollbar-thumb:hover {
  background: #a4a8a4;
}

.hidden-terminal-input {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  height: 0;
  width: 0;
}

.cursor {
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  50% { opacity: 0; }
}
